.verdeoscuro{

	background-color: #008891;
}

.azuloscuro{
	background-color: #00587a;
}

.azulclaro{
	background-color: #40a8c4;
}

.morado{
	background-color: #ba78cd;
}

.celeste{
	background-color: #00e0ff;
}

.rojo{
	background-color: red;
}

.naranja{
	background-color: #fba834;
}

.verde{
	background-color: #b2e672;
}

.amarillo{
	background-color: #fff024;
}
